body {
	background-color: #FFFFF5;
}

h3 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	color: gray;

}

h2 {
	font-family: helvetica;
	font-weight: bold;
}

img {
	border: solid;
	border-width: 5px;
}